<div class="mdc-form-field" {{did-insert this.didInsert}}
  {{did-update this.setValues @value @disabled @indeterminate}}
>
  <MaterialCheckbox::Inner @guid={{this.guid}} />
  <label for="{{this.guid}}">{{yield}}</label>
</div>