{{yield this.open to='trigger'}}
<div
  class='mdc-dialog
    {{if @scrollable ' mdc-dialog--scrollable'}}
    {{if @fullscreen 'mdc-dialog--fullscreen'}}
    {{if @sheet 'mdc-dialog--sheet'}}
    {{@class}}'
  ...attributes
  {{did-insert this.didInsert}}
  {{will-destroy this.close}}
>
  <div class='mdc-dialog__scrim'></div>
  <div class='mdc-dialog__container'>
    <div class='mdc-dialog__surface'>
      {{yield
        (component 'material-dialog/header' fullscreen=@fullscreen)
        (component 'material-dialog/content')
        (component 'material-dialog/footer')
        this.close
        to='dialog'
      }}
    </div>
  </div>
</div>