<span
  id={{concat 'tether-for-' this.guid}}
  {{did-insert this.setAnchor}}
></span>

{{#in-element this.destinationElement}}
  <div
    id='{{this.guid}}'
    class='mdc-tooltip'
    role='tooltip'
    {{did-insert this.attachTooltip}}
  >
    <div class='mdc-tooltip__surface mdc-tooltip__surface-animation'>
      {{yield}}
    </div>
  </div>
{{/in-element}}