<label
  class='mdc-text-field
    {{if @noLabel 'mdc-text-field--no-label'}}
    {{if @outlined 'mdc-text-field--outlined' 'mdc-text-field--filled'}}
    {{if @textarea 'mdc-text-field--textarea'}}
    {{if @hasLeadingIcon 'mdc-text-field--with-leading-icon'}}
    {{if @hasTrailingIcon 'mdc-text-field--with-trailing-icon'}}
    {{if @disabled 'mdc-text-field--disabled'}}
    {{@class}}'
  {{did-insert this.didInsert}}
  ...attributes
>
  {{#if @textarea}}
    {{#unless @outlined}}
      <span class='mdc-text-field__ripple'></span>
    {{/unless}}
    {{yield
      (component 'material-text-field/label' guid=this.guid outlined=@outlined)
      (component 'material-text-field/textarea' guid=this.guid textField=this.textField)
    }}
    {{#unless @outlined}}
      <span class='mdc-line-ripple'></span>
    {{/unless}}
  {{else}}
    {{#unless @outlined}}
      <span class='mdc-text-field__ripple'></span>
    {{/unless}}
    {{yield
      (component 'material-text-field/label' guid=this.guid outlined=@outlined)
      (component 'material-text-field/input' guid=this.guid textField=this.textField)
      (component 'material-text-field/icon')
      (component 'material-text-field/affix')
    }}
    {{#unless @outlined}}
      <span class='mdc-line-ripple'></span>
    {{/unless}}
  {{/if}}
</label>
