<div
  class='mdc-touch-target-wrapper {{@class}}'
  {{did-insert this.didInsert}}
>
  <MaterialRadioButton::Inner @guid={{this.guid}} ...attributes />
  <label for='{{this.guid}}'>{{yield}}</label>
</div>