<div class='mdc-form-field' {{did-insert this.didInsert}}>
  <MaterialCheckbox::Inner
    id={{this.guid}}
    @indeterminate={{@indeterminate}}
    ...attributes
  />
   <label for="{{this.guid}}">{{yield}}</label>
</div>