<DocsHeader/>

{{outlet}}
{{!-- <div class='dummy-application'>
  {{#if this._drawer}}
    <MaterialDrawer @modal={{this.modal}} @dismissable={{this.dismissable}}>
      <:drawerContent as |Header Navigation|>
        <Header>
          <:title>Material Components</:title>
          <:subtitle>For Ember.js</:subtitle>
        </Header>
        <Navigation as |Item Divider Subheader|>
          <Divider />
          <Subheader>Start</Subheader>
          <Item>
            <:title>Home</:title>
          </Item>
          <Item>
            <:title>Get started</:title>
          </Item>
          <Divider />
          <Subheader>Components</Subheader>
          {{#each this.pages as |page|}}
            <Item {{on 'click' (fn this.openRoute page.route)}}>
              <:title>{{page.name}}</:title>
            </Item>
          {{/each}}
        </Navigation>
      </:drawerContent>
      <:applicationContent as |toggleDrawer|>
        <MaterialTopAppBar
          @short={{or this.short this.shortCollapsed}}
          @prominent={{this.prominent}}
          @dense={{this.dense}}
          @fixed={{this.fixed}}
          @collapsed={{this.shortCollapsed}}
        >
          <:navigation as |IconButton|>
            {{#if (or this.modal this.dismissable)}}
              <IconButton {{on 'click' toggleDrawer}}>
                menu
              </IconButton>
            {{/if}}
          </:navigation>
          <:title>
            Ember material components
          </:title>
          <:actions as |IconButton|>
            <IconButton
              {{on 'click' (fn this.toggleDrawerVersion toggleDrawer)}}
            >
              favorite
            </IconButton>
            <IconButton
              {{on 'click' (fn this.togglecurrentTopAppBarView toggleDrawer)}}
            >
              star
            </IconButton>
            <IconButton>
              more_vert
            </IconButton>
          </:actions>
        </MaterialTopAppBar>
        <div>
          {{outlet}}
        </div>
      </:applicationContent>
    </MaterialDrawer>
  {{/if}}
</div> --}}