<div class="dummy-application">
  <MaterialTopAppBar @drawerWeb={{true}} @fixed={{true}}>
    <:drawer as |setDrawer|>
      <MaterialDrawer @modal={{this.settings.materialDrawerModal}} @setDrawer={{setDrawer}}>
        {{#each this.pages as |page|}}
          <MaterialList::item
            @activated={{page.isActive}}
            {{on 'click' (fn this.openRoute page.route)}}
          >
            {{page.name}}
          </MaterialList::item>
        {{/each}}
      </MaterialDrawer>
    </:drawer>
    <:navigation as |IconButton toggleDrawer|>
      <IconButton {{on 'click' toggleDrawer}}>
        menu
      </IconButton>
    </:navigation>
    <:title>
      Ember material components
    </:title>
    <:actions as |IconButton|>
      <IconButton>
        favorite
      </IconButton>
      <IconButton>
        star
      </IconButton>
      <IconButton>
        more_vert
      </IconButton>
    </:actions>
    <:main>
      {{outlet}}
    </:main>
  </MaterialTopAppBar>
</div>