<div class='dummy-application'>
  {{#if this._drawer}}
    <MaterialDrawer @modal={{this.modal}} @dismissable={{this.dismissable}}>
      <:drawerContent as |Header|>
        <Header>
          <:title>Material Design</:title>
          <:subtitle>Ember material design components</:subtitle>
        </Header>
        {{#each this.pages as |page|}}
          <MaterialButton {{on 'click' (fn this.openRoute page.route)}}>
            {{page.name}}
          </MaterialButton>
        {{/each}}
      </:drawerContent>
      <:applicationContent as |toggleDrawer|>
        <MaterialTopAppBar
          @short={{or this.short this.shortCollapsed}}
          @prominent={{this.prominent}}
          @dense={{this.dense}}
          @fixed={{this.fixed}}
          @collapsed={{this.shortCollapsed}}
        >
          <:navigation as |IconButton|>
            {{#if (or this.modal this.dismissable)}}
              <IconButton {{on 'click' toggleDrawer}}>
                menu
              </IconButton>
            {{/if}}
          </:navigation>
          <:title>
            Ember material components
          </:title>
          <:actions as |IconButton|>
            <IconButton
              {{on 'click' (fn this.toggleDrawerVersion toggleDrawer)}}
            >
              favorite
            </IconButton>
            <IconButton
              {{on 'click' (fn this.togglecurrentTopAppBarView toggleDrawer)}}
            >
              star
            </IconButton>
            <IconButton>
              more_vert
            </IconButton>
          </:actions>
        </MaterialTopAppBar>
        <div>
          {{outlet}}
        </div>
      </:applicationContent>
    </MaterialDrawer>
  {{/if}}
</div>