<div class="demo-title">
  Demos
</div>
<div class="demo-card">
  <MaterialCheckbox @value={{this.checkboxValue}}>
    Checkbox
  </MaterialCheckbox>
  <MaterialCheckbox @value={{this.checkboxValue}} @disabled={{true}}>
    Disabled
      Checkbox
  </MaterialCheckbox>
  <MaterialCheckbox @value={{true}} @indeterminate={{true}}>
    Indeterminate
      Checkbox
  </MaterialCheckbox>
</div>