<div class='demo-title'>
  Tab bar
</div>
<div class='demo-card'>
  {{#if this._tabBar}}

    <MaterialTabBar as |Button|>
      <Button
        @active={{true}}
        @dense={{this.dense}}
        @stacked={{this.stacked}}
        as |Icon Label|
      >
        {{#if this.icon}}
          <Icon>
            home
          </Icon>
        {{/if}}
        <Label>
          Home
        </Label>
      </Button>
      {{#if this.scrollable}}
        <Button @dense={{this.dense}} @stacked={{this.stacked}} as |Icon Label|>
          {{#if this.icon}}
            <Icon>
              apps
            </Icon>
          {{/if}}
          <Label>
            applications
          </Label>
        </Button>
        <Button @dense={{this.dense}} @stacked={{this.stacked}} as |Icon Label|>
          {{#if this.icon}}
            <Icon>
              edit
            </Icon>
          {{/if}}
          <Label>
            edits
          </Label>
        </Button>
        <Button @dense={{this.dense}} @stacked={{this.stacked}} as |Icon Label|>
          {{#if this.icon}}
            <Icon>
              history
            </Icon>
          {{/if}}
          <Label>
            history
          </Label>
        </Button>
        <Button @dense={{this.dense}} @stacked={{this.stacked}} as |Icon Label|>
          {{#if this.icon}}
            <Icon>
              favorite
            </Icon>
          {{/if}}
          <Label>
            Favorites
          </Label>
        </Button>
        <Button @dense={{this.dense}} @stacked={{this.stacked}} as |Icon Label|>
          {{#if this.icon}}
            <Icon>
              star
            </Icon>
          {{/if}}
          <Label>
            stars
          </Label>
        </Button>
        <Button @dense={{this.dense}} @stacked={{this.stacked}} as |Icon Label|>
          {{#if this.icon}}
            <Icon>
              thumb_up
            </Icon>
          {{/if}}
          <Label>
            Likes
          </Label>
        </Button>
      {{/if}}
      <Button @dense={{this.dense}} @stacked={{this.stacked}} as |Icon Label|>
        {{#if this.icon}}
          <Icon>
            person
          </Icon>
        {{/if}}
        <Label>
          profile
        </Label>
      </Button>
      <Button @dense={{this.dense}} @stacked={{this.stacked}} as |Icon Label|>
        {{#if this.icon}}
          <Icon>
            settings
          </Icon>
        {{/if}}
        <Label>
          Settings
        </Label>
      </Button>
    </MaterialTabBar>
  {{/if}}
</div>

<div class='demo-title'>
  Appereance
</div>
<div class='demo-card demo-card--material-list'>
  <MaterialList as |Item|>
    <Item as |item|>
      Icons
      <item.switch @checked={{this.icon}} @onChange={{fn this.update 'icon'}} />
    </Item>
    <Item as |item|>
      Dense
      <item.switch @dense={{this.dense}} @onChange={{fn this.update 'dense'}} />
    </Item>
    <Item as |item|>
      Stacked
      <item.switch
        @stacked={{this.stacked}}
        @onChange={{fn this.update 'stacked'}}
      />
    </Item>
    <Item as |item|>
      Scrollable
      <item.switch
        @stacked={{this.scrollable}}
        @onChange={{fn this.update 'scrollable'}}
      />
    </Item>
  </MaterialList>
</div>