<div class='demo-title'>
  Radio buttons as form field
</div>
<div class='demo-card demo-radio-button demo-card'>
  <b>What color is three?</b>
  <ul>
    <li>
      <MaterialRadioButton
        name='group2'
        checked={{eq this.color2 null}}
        {{on 'change' (fn this.update 'color2' null)}}
      >
        None
      </MaterialRadioButton>
    </li>
    <li>
      <MaterialRadioButton
        name='group2'
        checked={{eq this.color2 '#d32f2f'}}
        {{on 'change' (fn this.update 'color2' '#d32f2f')}}
      >
        Red
      </MaterialRadioButton>
    </li>
  </ul>
  <b>What's your favorite
    <span style={{this.style}}>color</span>
  </b>
  <ul>
    <li>
      <MaterialRadioButton
        name='group1'
        checked={{eq this.color1 '#fbc02d'}}
        {{on 'change' (fn this.update 'color1' '#fbc02d')}}
      >
        Blue!
      </MaterialRadioButton>
    </li>
    <li>
      <MaterialRadioButton
        name='group1'
        checked={{eq this.color1 '#0d47a1'}}
        {{on 'change' (fn this.update 'color1' '#0d47a1')}}
      >
        No! Yellow!
      </MaterialRadioButton>
    </li>
    <li>
      <MaterialRadioButton
        name='group1'
        disabled={{if this.color2 false true}}
        {{on 'change' (fn this.update 'color1' this.color2)}}
      >
        Three
      </MaterialRadioButton>
    </li>
  </ul>
</div>
<div class='demo-title'>
  Radio buttons as material list
</div>
<div class='demo-card demo-card--material-list'>
  <MaterialList as |Item Divider|>
    <Item as |item|>
      Three has no color
      <item.radioButton
        name='name3'
        checked={{eq this.color2 null}}
        {{on 'change' (fn this.update 'color2' null)}}
      />
    </Item>
    <Item as |item|>
      Red is the color of three
      <item.radioButton
        name='name3'
        checked={{eq this.color2 '#d32f2f'}}
        {{on 'change' (fn this.update 'color2' '#d32f2f')}}
      />
    </Item>
    <Divider />
    <Item as |item|>
      Blue!
      <item.radioButton
        name='name4'
        checked={{eq this.color1 '#fbc02d'}}
        {{on 'change' (fn this.update 'color1' '#fbc02d')}}
      />
    </Item>
    <Item as |item|>
      No! Yellow!
      <item.radioButton
        name='name4'
        checked={{eq this.color1 '#0d47a1'}}
        {{on 'change' (fn this.update 'color1' '#0d47a1')}}
      />
    </Item>
    <Item as |item|>
      Three
      <item.radioButton
        name='name4'
        disabled={{if this.color2 false true}}
        {{on 'change' (fn this.update 'color1' this.color2)}}
      />
    </Item>
  </MaterialList>
</div>