<div class='demo-title'>
  Default chips
</div>
<div class='demo-card'>
  <MaterialChips as |Chip|>
    <Chip as |Button|>
      <Button as |Text|>
        <Text>
          Chip 1
        </Text>
      </Button>
    </Chip>
    <Chip as |Button|>
      <Button as |Text|>
        <Text>
          Chip 2
        </Text>
      </Button>
    </Chip>
    <Chip as |Button|>
      <Button as |Text|>
        <Text>
          Chip 3
        </Text>
      </Button>
    </Chip>
  </MaterialChips>
</div>
<div class='demo-title'>
  Chips with icon
</div>
<div class='demo-card'>
  <MaterialChips as |Chip|>
    <Chip @hasLeadingIcon={{true}} as |Button|>
      <Button as |Text Icon|>
        <Icon>
          favorite
        </Icon>
        <Text>
          Favorite
        </Text>
      </Button>
    </Chip>
    <Chip @hasLeadingIcon={{true}} as |Button|>
      <Button as |Text Icon|>
        <Icon>star</Icon>
        <Text>
          Star
        </Text>
      </Button>
    </Chip>
    <Chip @hasLeadingIcon={{true}} as |Button|>
      <Button as |Text Icon|>
        <Icon>
          thumb_up
        </Icon>
        <Text>
          Like
        </Text>
      </Button>
    </Chip>
  </MaterialChips>
</div>
<div class='demo-title'>
  Chips with graphic
</div>
<div class='demo-card'>
  <MaterialChips as |Chip|>
    <Chip @hasGraphic={{true}} as |Button|>
      <Button as |Text Icon Graphic|>
        <Graphic>
          <div
            class='emdc-chip__avatar'
            style='background-image: url(avatar_1.jpeg)' {{!-- template-lint-disable  --}}
          ></div>
        </Graphic>
        <Text>
          Lancelot the Brave
        </Text>
      </Button>
    </Chip>
    <Chip @hasGraphic={{true}} as |Button|>
      <Button as |Text Icon Graphic|>
        <Graphic>
          <div
            class='emdc-chip__avatar'
            style='background-image: url(avatar_2.jpeg)' {{!-- template-lint-disable  --}}
          ></div>
        </Graphic>
        <Text>
          Bedevere the Wise
        </Text>
      </Button>
    </Chip>
    <Chip @hasGraphic={{true}} as |Button|>
      <Button as |Text Icon Graphic|>
        <Graphic>
          <div
            class='emdc-chip__avatar'
            style='background-image: url(avatar_3.jpeg)' {{!-- template-lint-disable  --}}
          ></div>
        </Graphic>
        <Text>
          Galahad the Pure
        </Text>
      </Button>
    </Chip>
  </MaterialChips>
</div>
<div class='demo-title'>
  Selectable chips
</div>
<div class='demo-card'>
  <MaterialChips as |Chip|>
    <Chip @selectable={{true}} @hasLeadingIcon={{true}} as |Button|>
      <Button as |Text Icon|>
        <Icon>
          favorite
        </Icon>
        <Text>
          Favorite
        </Text>
      </Button>
    </Chip>
    <Chip @selectable={{true}} @hasLeadingIcon={{true}} as |Button|>
      <Button as |Text Icon|>
        <Icon>star</Icon>
        <Text>
          Star
        </Text>
      </Button>
    </Chip>
    <Chip @selectable={{true}} @hasLeadingIcon={{true}} as |Button|>
      <Button as |Text Icon|>
        <Icon>
          thumb_up
        </Icon>
        <Text>
          Like
        </Text>
      </Button>
    </Chip>
  </MaterialChips>
</div>
<div class='demo-title'>
  Selectable chips without icon
</div>
<div class='demo-card'>
  <MaterialChips as |Chip|>
    <Chip @selectable={{true}} as |Button|>
      <Button as |Text|>
        <Text>
          Favorite
        </Text>
      </Button>
    </Chip>
    <Chip @selectable={{true}} as |Button|>
      <Button as |Text|>
        <Text>
          Star
        </Text>
      </Button>
    </Chip>
    <Chip @selectable={{true}} as |Button|>
      <Button as |Text|>
        <Text>
          Like
        </Text>
      </Button>
    </Chip>
  </MaterialChips>
</div>
<div class='demo-title'>
  Chips with secondary action
</div>
<div class='demo-card'>
  <MaterialChips as |Chip|>
    <Chip @hasTrailingAction={{true}} as |Button IconButton|>
      <Button as |Text|>
        <Text>
          Chip 1
        </Text>
      </Button>
      <IconButton>
        close
      </IconButton>
    </Chip>
    <Chip @hasTrailingAction={{true}} as |Button IconButton|>
      <Button as |Text|>
        <Text>
          Chip 2
        </Text>
      </Button>
      <IconButton>
        close
      </IconButton>
    </Chip>
    <Chip @hasTrailingAction={{true}} as |Button IconButton|>
      <Button as |Text|>
        <Text>
          Chip 3
        </Text>
      </Button>
      <IconButton>
        close
      </IconButton>
    </Chip>
  </MaterialChips>
</div>