<div class='demo-title'>
  Demos
</div>
<div class='demo-card demo-card--grid'>
  <span class='grid-item grid-item--4'>
    Text
  </span>
  <MaterialButton class='grid-item grid-item--1' as |Icon Text|>
    <Text>Default</Text>
  </MaterialButton>
  <MaterialButton
    class='grid-item grid-item--1'
    @hasLeadingIcon={{true}}
    as |Icon Text|
  >
    <Icon>save</Icon>
    <Text>Leading icon</Text>
  </MaterialButton>
  <MaterialButton
    class='grid-item grid-item--1'
    @hasTrailingIcon={{true}}
    as |Icon Text|
  >
    <Text>Trailing Icon</Text>
    <Icon>favorite</Icon>
  </MaterialButton>
  <MaterialButton
    class='grid-item grid-item--1'
    @hasLeadingIcon={{true}}
    @hasTrailingIcon={{true}}
    as |Icon Text|
  >
    <Icon>save</Icon>
    <Text>Trailing Icon</Text>
    <Icon>favorite</Icon>
  </MaterialButton>
  <span class='grid-item grid-item--4'>
    Raised
  </span>
  <MaterialButton
    class='grid-item grid-item--1'
    @raised={{true}}
    as |Icon Text|
  >
    <Text>Default</Text>
  </MaterialButton>
  <MaterialButton
    class='grid-item grid-item--1'
    @hasLeadingIcon={{true}}
    @raised={{true}}
    as |Icon Text|
  >
    <Icon>save</Icon>
    <Text>Leading icon</Text>
  </MaterialButton>
  <MaterialButton
    class='grid-item grid-item--1'
    @hasTrailingIcon={{true}}
    @raised={{true}}
    as |Icon Text|
  >
    <Text>Trailing Icon</Text>
    <Icon>favorite</Icon>
  </MaterialButton>
  <MaterialButton
    class='grid-item grid-item--1'
    @hasLeadingIcon={{true}}
    @hasTrailingIcon={{true}}
    @raised={{true}}
    as |Icon Text|
  >
    <Icon>save</Icon>
    <Text>Trailing Icon</Text>
    <Icon>favorite</Icon>
  </MaterialButton>
  <span class='grid-item grid-item--4'>
    Unelevated
  </span>
  <MaterialButton
    class='grid-item grid-item--1'
    @unelevated={{true}}
    as |Icon Text|
  >
    <Text>Default</Text>
  </MaterialButton>
  <MaterialButton
    class='grid-item grid-item--1'
    @hasLeadingIcon={{true}}
    @unelevated={{true}}
    as |Icon Text|
  >
    <Icon>save</Icon>
    <Text>Leading icon</Text>
  </MaterialButton>
  <MaterialButton
    class='grid-item grid-item--1'
    @hasTrailingIcon={{true}}
    @unelevated={{true}}
    as |Icon Text|
  >
    <Text>Trailing Icon</Text>
    <Icon>favorite</Icon>
  </MaterialButton>
  <MaterialButton
    class='grid-item grid-item--1'
    @hasLeadingIcon={{true}}
    @hasTrailingIcon={{true}}
    @unelevated={{true}}
    as |Icon Text|
  >
    <Icon>save</Icon>
    <Text>Trailing Icon</Text>
    <Icon>favorite</Icon>
  </MaterialButton>
  <span class='grid-item grid-item--4'>
    Outlined
  </span>
  <MaterialButton
    class='grid-item grid-item--1'
    @outlined={{true}}
    as |Icon Text|
  >
    <Text>Default</Text>
  </MaterialButton>
  <MaterialButton
    class='grid-item grid-item--1'
    @hasLeadingIcon={{true}}
    @outlined={{true}}
    as |Icon Text|
  >
    <Icon>save</Icon>
    <Text>Leading icon</Text>
  </MaterialButton>
  <MaterialButton
    class='grid-item grid-item--1'
    @hasTrailingIcon={{true}}
    @outlined={{true}}
    as |Icon Text|
  >
    <Text>Trailing Icon</Text>
    <Icon>favorite</Icon>
  </MaterialButton>
  <MaterialButton
    class='grid-item grid-item--1'
    @hasLeadingIcon={{true}}
    @hasTrailingIcon={{true}}
    @outlined={{true}}
    as |Icon Text|
  >
    <Icon>save</Icon>
    <Text>Trailing Icon</Text>
    <Icon>favorite</Icon>
  </MaterialButton>
</div>