<div class='demo-title'>
  One-lined list width leading and trailing icons
</div>
<div class='demo-card demo-card--material-list'>
  <MaterialListGroup as |List Header Divider|>
    <List as |Item|>
      <Item @activated={{true}} as |item|>
        <item.icon @leading={{true}}>
          plumbing
        </item.icon>
        Mario
      </Item>
      <Item as |item|>
        <item.icon @leading={{true}}>
          favorite
        </item.icon>
        Princess Peach
      </Item>
      <Item as |item|>
        <item.icon @leading={{true}}>
          bolt
        </item.icon>
        Bowser
      </Item>
    </List>
    <Header>
      Others
    </Header>
    <Divider />
    <List as |Item|>
      <Item as |item|>
        <item.icon @leading={{true}}>
          egg
        </item.icon>
        Yoshi
        <item.icon>
          info
        </item.icon>
      </Item>
      <Item as |item|>
        <item.icon @leading={{true}}>
          star
        </item.icon>
        Toad
        <item.icon>
          info
        </item.icon>
      </Item>
    </List>
  </MaterialListGroup>
</div>
<div class='demo-title'>
  One-lined list with checkbox
</div>
<div class='demo-card demo-card--material-list'>
  <MaterialList as |Item|>
    <Item as |item|>
      <item.icon @leading={{true}}>
        map
      </item.icon>
      Select the next level on the map
      <item.checkbox />
    </Item>
    <Item as |item|>
      <item.icon @leading={{true}}>
        directions
      </item.icon>
      Reach Peach's Castle in Mushroom Kingdom
      <item.checkbox />
    </Item>
  </MaterialList>
</div>
<div class='demo-title'>
  One-lined list width radio button
</div>
<div class='demo-card demo-card--material-list'>
  <MaterialList as |Item|>
    <Item as |item|>
      Rescue the princess
      <item.radioButton />
    </Item>
    <Item as |item|>
      Defeat Bowser
      <item.radioButton />
    </Item>
  </MaterialList>
</div>
<div class='demo-title'>
  Two-lined list
</div>
<div class='demo-card demo-card--material-list'>
  <MaterialList @twoLined={{true}} as |Item|>
    <Item as |item|>
      <item.text>
        <:primary>
          Two lined text item
        </:primary>
        <:secondary>
          secondary text
        </:secondary>
      </item.text>
      <item.radioButton />
    </Item>
    <Item as |item|>
      <item.text>
        <:primary>
          Two lined text item
        </:primary>
        <:secondary>
          secondary text
        </:secondary>
      </item.text>
      <item.radioButton />
    </Item>
  </MaterialList>
</div>
<div class='demo-title'>
  Two-lined list avatar list
</div>
<div class='demo-card demo-card--material-list'>
  <MaterialList @twoLined={{true}} @avatar={{true}} as |Item|>
    <Item as |item|>
      <item.icon @leading={{true}}>
        plumbing
      </item.icon>
      <item.text>
        <:primary>
          Two lined text item
        </:primary>
        <:secondary>
          secondary text
        </:secondary>
      </item.text>
    </Item>
    <Item as |item|>
      <item.icon @leading={{true}}>
        favorite
      </item.icon>
      <item.text>
        <:primary>
          Two lined text item
        </:primary>
        <:secondary>
          secondary text
        </:secondary>
      </item.text>
    </Item>
  </MaterialList>
</div>